/* CSS3 */
@charset "utf-8";

/* for IE8 or lower */
article, aside, figure, figcaption, footer, header, hgroup, nav, section {
  display: block;
}

/* global css */
body{
  margin:0px; 
  text-align:left;
  font-size: 86%;
}

p {
  line-height: 1.5;
}

.outer {
  padding: 25px;
}

h1 {
  font-family: 'Garamond';
  font-size: 200%;
}

.stress {
  color: #6CAF0E;
  font-size: 120%;
}

div#shell {
  width: 940px;
  padding-left: 30px;
  padding-right: 30px;
}

.clear {
  clear: both;
}

.floatleft {
  float:left;
}


.floatright {
  float:right;
}

/* header */

div.headpattern {
  padding:25px;
  margin:0px;
  border-top    :solid 1px #1141BA;
  border-bottom :solid 1px #1776D0;
  background: linear-gradient(#1141BA, #1776D0);
}

div#logo {
  position: relative;
  background-color: white;
  margin-top: -15px;
  width: 260px;
  height: 100px;
  /*  box-shadow: 5px 0px 3px -3px #DDD; */
  margin-left: 15px;
  margin-bottom: 20px;
  margin-right: -20px;
  float: left;
  /*display: inline-block;
  _display: inline;*/
}

.hover {
   position: relative;
}

.hover:before, .hover:after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 10px;
  height: 60px;
  max-width:260px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3dig);
  -moz-transform: rotate(-3dig);
  -o-transform: rotate(-3dig);
  -ms-transform: rotate(-3dig);
  transform: rotate(-3dig);
}

.hover:after {
  -webkit-transform: rotate(3dig);
  -moz-transform: rotate(3dig);
  -o-transform: rotate(3dig);
  -ms-transform: rotate(3dig);
  transform: rotate(3dig);
  width: 10px;
  height: 60px;
}

div#topmenu {
  float: left;
  /*display: inline-block;
  _display: inline;*/
}

li.button {
  text-align: center;
  padding-top: 7px;
  background: linear-gradient(#1141BA, #1776D0);
  float: left;
  white-space: nowrap;
  list-style-type: none;
  width: 128px;
  height: 40px;
  margin: 0.5px;
  border-color: white;
}

li.button:hover {
   background: #458AD2;
}

a {
  color: white;
  text-decoration: none;
}

#list1 {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

#list5 {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

div.first {
  color: white;
  font-size: 90%;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);  
}

div.second {
  color: #76B6F3;
  font-family: monospace;
  font-size: 20%;
  text-transform: uppercase;
}

/* main */

section#form {
  margin-top: -10px;
  background-color: #F6F6F0;
}

#formleft {
  width:650px;
  }  
#printright {
  width:260px;
}  

#pictright {
  margin-right: -25px;
  padding-right: 0px;
}

section#aboutbps {
  background-color: #EBEBE3;
}

div#form1 {
  background-color: #EBEBE3;
  height: 400px;
}

.input {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 22px;
  width: 595px;
  border-top: #E0E0D0;
  border-right: #E0E0D0;
  border-bottom: #E0E0D0;
  border-left: #E0E0D0;
}

#reason {
  height: 170px;
}

#option {
  padding-top: 25px;
}

#submit {
  padding-top: 10px;
}

#wave {
border-image: url("img/border.png") 15 round;
border-style:solid; border-width:10px; 
}

#aboutarticle {
  width:600px;
  }

#aboutpic {
  width:200px;
  padding:10px;
  padding-top: 20px;
  border-color: white;
  border-style: solid;
  border-width: 6px;
  border-bottom-width: 30px;
  -webkit-transform: rotate(7deg); /* chrome、safari　*/
  -moz-transform: rotate(17deg); /* firefox　*/

}

.photoframe {
  margin: 19px;
  margin-top: 0px;
  padding: 5px;
  padding-top: 0px;
  border-color: white;
  border-style: solid;
  border-width: 8px;
  border-bottom-width: 20px;
}