/* CSS3 */
@charset "utf-8";

/* for IE8 or lower */
article, aside, figure, figcaption, footer, header, hgroup, nav, section {
  display: block;
}

/* global css */
body{
  margin:0px; 
  text-align:left;
}

p {
  line-height: 1.5;
}

div#shell {
  width: 940px;
  padding-left: 30px;
  padding-right: 30px;
}

.clear {
  clear: both;
}

/* header */

div.headpattern {
  padding:25px;
  margin:0px;
  border-top    :solid 1px #1141BA;
  border-bottom :solid 1px #1776D0;
  background: linear-gradient(#1141BA, #1776D0);
}

div#logo {
  position: relative;
  background-color: white;
  margin-top: -15px;
  width: 260px;
  height: 100px;
  /*  box-shadow: 5px 0px 3px -3px #DDD; */
  margin-left: 15px;
  margin-bottom: 20px;
  margin-right: -20px;
  float: left;
  /*display: inline-block;
  _display: inline;*/
}

.hover {
   position: relative;
}

.hover:before, .hover:after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 10px;
  height: 60px;
  max-width:260px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3dig);
  -moz-transform: rotate(-3dig);
  -o-transform: rotate(-3dig);
  -ms-transform: rotate(-3dig);
  transform: rotate(-3dig);
}

.hover:after {
  -webkit-transform: rotate(3dig);
  -moz-transform: rotate(3dig);
  -o-transform: rotate(3dig);
  -ms-transform: rotate(3dig);
  transform: rotate(3dig);
  width: 10px;
  height: 60px;
}

div#topmenu {
  float: left;
  /*display: inline-block;
  _display: inline;*/
}

li.button {
  text-align: center;
  padding-top: 7px;
  background: linear-gradient(#1141BA, #1776D0);
  float: left;
  white-space: nowrap;
  list-style-type: none;
  width: 128px;
  height: 40px;
  margin: 0.5px;
  border-color: white;
}

li.button:hover {
   background: #458AD2;
}

a {
  color: white;
  text-decoration: none;
}

#list1 {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

#list5 {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

div.first {
  color: white;
  font-size: 90%;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);  
}

div.second {
  color: #76B6F3;
  font-family: monospace;
  font-size: 20%;
  text-transform: uppercase;
}

/* main */

.outer {
  padding: 25px;
}

section#form {
  margin-top: -10px;
  background-color: #F6F6F0;
}

#formleft {
  width:600px;
  float:left;
  }  
#printright {
  width:260px;
  float:right;
}  

section#aboutbps {
  background-color: #E7E7DC;
}

div#form1 {
  background-color: #EEEDE6;
  height: 400px;
}

.input {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 22px;
  width: 545px;
}

#reason {
  height: 170px;
}