/* CSS3 */
@charset "utf-8";

/* for IE8 or lower */
article, aside, figure, figcaption, footer, header, hgroup, nav, section {
display: block;
}

/* main css */
body{
margin:0px; 
text-align:left;
}

section {
  width: 940px;
  margin-left: 35px;
}

p {
  line-height: 1.5;
}


div.head {
padding:25px;
margin:0px;
border-top    :solid 1px #1141BA;
border-bottom :solid 1px #1776D0;
background: linear-gradient(#1141BA, #1776D0);
}

div.logo {
  background-color: white;

  top: 35px;
  left: 40px;
  width: 320px;
  box-shadow: 5px 5px 5px #DDD;
  margin-left: 32px;
} a { display: block; }

nav.menu {

  top: 55px;
  left: 335px;
  border-radius: 0.5em;
}

li.button {
  background: linear-gradient(#1141BA, #1776D0);
  float: left;
  list-style-type: none;
  width: 100px;
  height: 20px;
}

a.button {
  color: white;
}

div#top {
  top: 100px;
  background-color: #F5F5F0
}